body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;    
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between; /* Setzt Inhalte auf beiden Enden */   
    padding: 1em; /* Fügt Padding hinzu */    
    background-image: url('images/Bern.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Vollbild Header */
    position: relative; 
    font-family: sans-serif;   
}

.intro {
    position: absolute;
    top: 30%; /* Positioniert die Mitte des Containers in der Mitte des Headers */
    right: 2em; /* Abstand vom linken Rand, passen Sie nach Bedarf an */
    transform: translateY(-50%); /* Verschiebt den Container zurück um seine eigene Hälfte */
    color: black; /* Stellen Sie sicher, dass der Text lesbar ist */
    max-width: 100%; /* Maximale Breite des Textcontainers */
}

.banner {
    width: 100%; /* Damit der Banner die volle Breite einnimmt */
}

.banner h1 {
    margin: 0;
    float: left;
    
}

nav {
    margin: 0;
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Entfernt den Standard-Margin */
    display: flex;
    flex-direction: column; /* Stapelt die Links auf kleinen Bildschirmen */
    align-items: center; /* Zentriert die Links */
}


@media (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Horizontale Anordnung auf größeren Bildschirmen */
    }
}

nav li {
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
}


.section-padding {
    padding: 20px 0;    
    margin-left: 20px;    
}

.content-boxes {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umfließen von Boxen auf kleineren Bildschirmen */
}

.content-boxes, .project-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box, .project {
    flex: 0 0 100%; /* Auf kleinen Bildschirmen nehmen Boxen volle Breite ein */
    margin: 20px;
    box-sizing: border-box; /* Inkludiert Padding und Border in die Breite */
}

.download-button {
    display: inline-block;
    padding: 10px 20px;    
    background-color: black; /* Auffällige Farbe für den Download-Button */
    color: white; /* Textfarbe */
    text-decoration: none; /* Entfernt die Unterstreichung */
    border-radius: 20px; /* Leicht abgerundete Ecken */
    font-weight: bold; /* Fettdruck */
    transition: background-color 0.3s; /* Animiert die Hintergrundfarbe beim Hover */
    border: none; /*kein Rahmen*/
    cursor: pointer;
    text-align: center; /* Zentrierter Text */
    width: auto; /* Automatische Breite basierend auf Inhalt */
}

.download-button:hover, .download-button:focus {
    background-color: grey; /* Dunklere Farbe beim Hover oder Fokus */
}


/* Media Query für Tablets */
@media (min-width: 768px) {
    .content-box, .project {
        flex: 0 0 48%; /* Auf mittleren Bildschirmen nehmen Boxen etwa die Hälfte der Breite ein */
        margin: 1%;
    }
}

/* Media Query für Desktop-Bildschirme */
@media (min-width: 992px) {
    .content-box, .project {
        flex: 0 0 30%; /* Auf größeren Bildschirmen nehmen Boxen ein Drittel der Breite ein */
    }
}

.img {
    width: 250px;  /* Setzt die Standardbreite für alle Bilder mit der Klasse 'img' */
    height: 250px; /* Setzt die Standardhöhe für alle Bilder mit der Klasse 'img' */
    object-fit: cover; /* Sorgt dafür, dass die Bilder das Container-Element voll ausfüllen, ohne das Seitenverhältnis zu verzerren */
}

.cv-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* oder eine Farbe Ihrer Wahl */
    color: white; /* Farbe des Textes */
    text-decoration: none; /* Keine Unterstreichung */
    border-radius: 20px; /* Abgerundete Ecken */
    font-weight: bold; /* Fettdruck */
    transition: background-color 0.3s; /* Glatter Farbwechsel */
    border: none; /* Kein Rahmen */
    cursor: pointer; /* Cursor wird zum Klick-Symbol */
}

.cv-button:hover {
    background-color: grey; /* Dunklere Farbe beim Hover */
}

.cv-button i {
    margin-left: 5px; /* Kleiner Abstand zwischen Text und Icon */
}



.timeline ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.timeline ul li {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}
.timeline ul li:before {
    content: ' ';
    background: #333;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
}

.timeline time {
    font-weight: bold;
}


/* Container für den Kontaktbereich */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Zentriert die Elemente und gibt ihnen etwas Abstand */
    align-items: flex-start; /* Start ausrichtung */
}

/* Stil für das Kontaktformular und den Textbereich, um sie nebeneinander anzuzeigen */
.contact-text, .form-container {
    flex: 1;
    min-width: 250px; /* Minimale Breite, damit die Elemente nicht zu schmal werden */
    max-width: 50%; /* Maximale Breite von 50%, um sie auf die Hälfte des Containers zu beschränken */
}

/* Kontaktinformationen unter dem Textbereich */
.contact-info {
    display: flex;
    flex-direction: column;
    padding: 20px 0; /* Abstand oben und unten */
}

/* Stil-Anpassung für Icons und Text in der Kontaktinfo */
.contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Abstand zwischen den Kontaktinformationen */
}

.contact-info i {
    margin-right: 10px;
}

/* Stil für das Formular */
form {
    background: white;
    padding: 20px;
    border-radius: 10px; /* Abgerundete Ecken für das Formular */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Leichter Schatten für Tiefe */
}

@media (max-width: 768px) {
    /* Anpassungen für kleinere Bildschirme */
    .contact-text, .form-container {
        max-width: 100%; /* Lässt Text und Formular die volle Breite einnehmen */
    }
}


input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}


button {
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

footer {
    text-align: center;
    padding: 1em 0;    
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
}