body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;    
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between; /* Setzt Inhalte auf beiden Enden */   
    padding: 1em; /* Fügt Padding hinzu */    
    background-image: url('images/Bern.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Vollbild Header */
    position: relative; 
    font-family: sans-serif;   
}

.intro {
    position: absolute;
    top: 30%; /* Positioniert die Mitte des Containers in der Mitte des Headers */
    right: 2em; /* Abstand vom linken Rand, passen Sie nach Bedarf an */
    transform: translateY(-50%); /* Verschiebt den Container zurück um seine eigene Hälfte */
    color: black; /* Stellen Sie sicher, dass der Text lesbar ist */
    max-width: 100%; /* Maximale Breite des Textcontainers */
}

.banner {
    width: 100%; /* Damit der Banner die volle Breite einnimmt */
}

.banner h1 {
    margin: 0;
    float: left;
    
}

nav {
    margin: 0;
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Entfernt den Standard-Margin */
    display: flex;
    flex-direction: column; /* Stapelt die Links auf kleinen Bildschirmen */
    align-items: center; /* Zentriert die Links */
}


@media (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Horizontale Anordnung auf größeren Bildschirmen */
    }
}

nav li {
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
}


.section-padding {
    padding: 50px 0;
    
}

.content-boxes {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umfließen von Boxen auf kleineren Bildschirmen */
}

.content-boxes, .project-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box, .project {
    flex: 0 0 100%; /* Auf kleinen Bildschirmen nehmen Boxen volle Breite ein */
    margin: 10px;
    box-sizing: border-box; /* Inkludiert Padding und Border in die Breite */
}

/* Media Query für Tablets */
@media (min-width: 768px) {
    .content-box, .project {
        flex: 0 0 48%; /* Auf mittleren Bildschirmen nehmen Boxen etwa die Hälfte der Breite ein */
        margin: 1%;
    }
}

/* Media Query für Desktop-Bildschirme */
@media (min-width: 992px) {
    .content-box, .project {
        flex: 0 0 30%; /* Auf größeren Bildschirmen nehmen Boxen ein Drittel der Breite ein */
    }
}

.timeline ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.timeline ul li {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}
.timeline ul li:before {
    content: ' ';
    background: #333;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
}

.timeline time {
    font-weight: bold;
}


.contact-info p{
    display: flex;
    align-items: center;
    color: black; 
    background: white;    
    height: 200px;
    margin: auto;
    padding: 10px;
}

.contact-info i{
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}


button {
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

footer {
    text-align: center;
    padding: 1em 0;    
    bottom: 0;
    width: 100%;
    background: white;
}